<script>
        $(function(){
          $.ajax({
              type: "get",
              url: "http://localhost:8080/igeek/navlist",
              dataType: "json",
              success: function (data) {
                  console.log(data);
                  //根据data数据和bookTempl模板来渲染动态数据
                  //var html = template("navlistTempl",data);
                  let navlist = data.navlist;
                  let navbox = "<li><a href='http://localhost:8080/static/index.html' >首页</a></li>";
                  for(let i = 0;i<navlist.length;i++){
                    console.log(navlist[i]);
                    let html = "<li><a href='javascript:void(0);' onclick=\"getCategoryId('"+navlist[i].cid+"')\" >"+navlist[i].cname+"</a></li>";
                    navbox += html;
                  }
                  $("#navlist").append(navbox);
              }
          });
      });   
      
      function getCategoryId(cid){
        window.location.href="http://localhost:8080/static/prolist.html?cid="+cid;
      }
</script>

<!-- 头部 start -->
<header>
    <div class="top container" >
        <div class="col-md-4">
            <img src="../img/images/top_01.png" alt="">
        </div>
        <div class="col-md-3">
            <img src="../img/image/header.jpg" alt="">
        </div>
        <div class="col-md-3 pull-right top-right">
            <a href="login.html">登陆</a>
            <a href="register.html">注册</a>
            <a href="shopping.html">购物车</a>
            <a href="myorders.html">我的订单</a>
            <a href="index.html">退出</a>
        </div>
    </div>
    <nav class="navbar navbar-inverse container" >
        <div class="">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Brand</a> -->
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- 导航列表 -->
            <ul class="nav navbar-nav" id="navlist">
            </ul>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
    </nav>
</header>
<!-- 头部 end -->